*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}
.container{
    width: 80%;
    margin:0 auto;
}
header{
    position: sticky;
    top: 0;
    background-color: white;
    padding:2rem 0;
}
.header-cont{
    display: flex;

}

.logo{
    
    padding-right: 1rem;
}

.logo img{
  width: 70px;
}

span{
    font-size: 1.3rem;
}
 /* NAVBAR  */
 .header-cont, .navbar{
     padding: 0 0.5rem;
    
 }

 .navbar{
     border-bottom: 1px solid black;
 
 }
.links{
    width: 45%;
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
}

.link-cont{
    padding-right: 10px;
}
.link-cont:first-of-type{
    padding-left: 4px;
}

.links a{
    text-decoration: none;
    color: black;
    font-weight: 600;

    font-size: 0.7rem;
}

/* link hover effect  */
.links a:hover{
    border-bottom: 2px solid blue;
    color: blue;
}


/* DATASET  */
.dataset{
    width: 60%;
    margin:auto;
}

 .domanda{
     font-weight: bolder;
     margin: 2.5rem 0 1rem 0;
     font-size: 1.1rem;
 }
 .domanda:first-of-type{
     margin-top: 0;
 }
 .risposta{
     font-weight: lighter;
     font-size: 0.8rem;
 }